@using EasyTrip_TatilSeyahatSitesi.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" style="width:100%" />
            <p>Easy Trip, tatil ve seyahat planlarınızı kolaylaştırmak için tasarlanmış kapsamlı bir rehberdir. Dünyanın
                en güzel destinasyonlarını keşfedin, en iyi otel ve restoran önerilerine ulaşın ve seyahat tutkunlarıyla
                deneyimlerinizi paylaşın. Amacımız, size unutulmaz bir tatil deneyimi yaşatmaktır.</p>
        </div>
    </div>
</div>
