
<div class="content-form">
    <h3>Yorum Ekleyin</h3>
    
    <form method="post">
        <input type="text" placeholder="ID" name="Blogid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Mail Adresi" name="Mail" required />
        <input type="text" placeholder="Telefon Numarasi" name="Yorum" required />
        <textarea placeholder="Mesajiniz"></textarea>
        <input type="submit" value="GONDER" />
    </form>
</div>
