<div class="contact-map" style="margin-top: 30px;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.691761895313!2d29.0205856764517!3d40.98813587135314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab867c4d50c11%3A0x6e3557434720e176!2sKad%C4%B1k%C3%B6y%2C%2034722%20Kad%C4%B1k%C3%B6y%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1705671175657"
        style="width: 100%; height: 400px; border: 0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
