<div class="contact-right">
    <h3 style="color: #444; font-size: 24px; margin-bottom: 20px;">Adres Bilgileri</h3>
    <div class="company_address" style="margin-bottom: 30px;">
        <p style="color: #666; font-size: 16px; line-height: 1.8;">Kad&#305;k&#246;y, &#304;stanbul</p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">T&#252;rkiye Tasar&#305;m Ofisi</p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">T&#252;rkiye</p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">Phone: (00) 123 456 789</p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">Fax: (000) 000 00 00 0</p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">Email: <a href="mailto:info@easytrip.com"
                style="color: #a2365a;">info@easytrip.com</a></p>
        <p style="color: #666; font-size: 16px; line-height: 1.8;">Follow on: <a href="#"
                style="color: #a2365a;">Facebook</a>, <a href="#" style="color: #a2365a;">Twitter</a></p>
    </div>
    @Html.Partial("PartialContactMap")
</div>
